.content{
    width: 863px;
    padding: 0 15px 15px 15px;
    margin: auto;
    background-color: $blue-color;
    color: whitesmoke;
    text-align: center;
    h2{
        font-size: 30px;
        padding: 1em 1em 1em 0;
    }
    p{
        padding: 1em 1em 1em 0; 
    }
    a{
        a:link{ 
            text-decoration: none;
            color: lightskyblue; 
        }
    
        a:visited{ 
            text-decoration: none; 
            color: lightskyblue; 
        }
        a:active{ 
            text-decoration: none;
            color: lightskyblue; 
         }
    }
    @media screen and (min-width: $screen-breakpoint) {
        width: 1170px;
      }

}
    

@import "../../variables.scss";