.screen{
    width: 65%;
    background-color: crimson;
    font-size: 3em;
    }

.seat{
    display:flex;
    background-color: $available-seat-color;
    width: 20px;
    height: 20px;
    text-align: center;
    color: red;
    cursor: pointer;
    &:hover{
        background-color: $hover-seat-color;
        transition: 0.2s;
    }

    img{
        width: 20px;
        height: 20px;
        margin: 0 0 0 0.5em;
    }
}
.selected{
    display:flex;
    background-color: $selected-seat-color;
    transition: 0.2s;
    cursor: pointer;
    width: 20px;
    height: 20px;
    
    img{
        width: 20px;
        height: 20px;
        margin: 0 0 0 0.5em;
    }
}
.unavailable{
    display:flex;
    background-color: $unavailable-seat-color;
    transition: 0.2s;
    color: whitesmoke;
    cursor: not-allowed;
    width: 20px;
    height: 20px;

    img{
        width: 20px;
        height: 20px;
        margin: 0 0 0 0.5em;
    }
}
.seatPlanCanvas {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(6, auto);
    gap: 40px;
    margin: 50px 0;
    @media screen and (max-width: 415px) {
      gap: 20px;
    }
}
