.footer-movie-site {
    background-color: $blue-color;
    border-radius: 1em 1em 0em 0em;
    box-shadow: 0 0.2em 0.3em black;
    color: $text-color;
    min-height: 150px;
    gap: 30px;
    font-family: $font-family;
}