.header {
  position: static;
  background-color: $blue-color;
  border-radius: 0.4em 0.4em 1em 1em;
  box-shadow: 0 0.2em 0.3em black;
  color: $text-color;

  .top-header {
    display: flex;
    justify-content: space-evenly;

    .logotype {
      width: 5em;
      height: auto;
      border-radius: 60px;
    }
    h1 {
      font-size: x-large;
    }
    #hamburger-icon {
      width: 3em;
      margin: 0em 1em 0 0;
    }
  }
  nav {
    ul {
      display: flex;
      gap: 0.3em;
      list-style: none;
      text-decoration: none;
      font-size: 0.9em;
      margin-right: 1em;

      a {
        text-decoration: none;
        color: $text-color;
        transition: 0.4s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .social-media-links {
    width: 1em;
    height: auto;
    transition: 0.4s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .social-media-links,
  #hamburger-icon {
    margin-left: 2em;
    color: #f5f5dc;
    filter: invert(94%) sepia(10%) saturate(397%) hue-rotate(16deg)
      brightness(105%) contrast(92%);
  }
}
