@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url("../static/background.png");
}

.header {
  background-color: #112d4e;
  border-radius: 0em 0em 1em 1em;
  box-shadow: 0 0.2em 0.3em black;
  color: #dbe2ef;
  min-height: 150px;
}
.header .top-header {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 90px;
}
.header .top-header .logotype {
  width: 5em;
  height: auto;
  border-radius: 60px;
}
.header .top-header h1 {
  font-size: xx-large;
  font-family: "Inter", sans-serif;
  display: flex;
  margin-left: -80px;
}
@media screen and (min-width: 750px) {
  .header .top-header h1 {
    font-size: 60px;
  }
}
.header .top-header #hamburger-icon {
  right: 5px;
  top: 3px;
  position: absolute;
  width: 3em;
  margin: 0em 1em 0 0;
  color: #dbe2ef;
  filter: invert(94%) sepia(10%) saturate(397%) hue-rotate(16deg) brightness(105%) contrast(92%);
}
@media screen and (min-width: 750px) {
  .header .top-header #hamburger-icon {
    display: none;
  }
}
.header nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 20px;
}
.header nav .main-nav {
  display: none;
}
.header nav .main-nav.show {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  text-decoration: none;
  font-size: 0.9em;
  margin-bottom: 1em;
}
@media screen and (min-width: 750px) {
  .header nav .main-nav {
    display: flex;
    list-style: none;
    gap: 2.5em;
  }
}
.header nav .main-nav a {
  text-decoration: none;
  color: #dbe2ef;
  transition: 0.2s;
}
.header nav .main-nav a:hover {
  transform: scale(1.05);
  color: whitesmoke;
}

footer {
  background-color: #112d4e;
  border-radius: 1em 1em 0em 0em;
  box-shadow: 0 0.2em 0.3em black;
  color: #dbe2ef;
  min-height: 150px;
  gap: 30px;
  font-family: "Inter", sans-serif;
}
@media screen and (min-width: 750px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
footer .footer-sections {
  padding: 10px 0 10px 20px;
  margin: 0.5em;
}
footer .footer-sections h3 {
  margin-bottom: 0.3em;
  font-size: 16px;
  margin-top: 10px;
}
footer .footer-sections p {
  font-size: 12px;
}
footer .footer-sections .social-media-links {
  color: #dbe2ef;
  filter: invert(94%) sepia(10%) saturate(397%) hue-rotate(16deg) brightness(105%) contrast(92%);
  padding: 3px;
}
footer .footer-sections #municipality-logo {
  width: 100px;
  height: auto;
}
footer .footer-sections #cinema-collab {
  width: 100px;
  height: auto;
}
@media screen and (min-width: 750px) {
  footer .footer-sections h3 {
    font-size: 22px;
  }
  footer .footer-sections p {
    font-size: 20px;
  }
  footer .footer-sections .social-media-links {
    padding: 3px;
    width: 2em;
  }
  footer .footer-sections #municipality-logo,
  footer .footer-sections #cinema-collab {
    width: 200px;
    height: auto;
  }
}

.pageHeader {
  width: 863px;
  padding: 20px;
  margin: 0 auto 3em auto;
  background-color: #112d4e;
  color: whitesmoke;
  text-align: center;
}
.pageHeader h2 {
  font-size: 40px;
  padding: 1em 1em 1em 0;
}
@media screen and (min-width: 750px) {
  .pageHeader {
    width: 1170px;
  }
  .pageHeader h2 {
    font-size: 100px;
    padding: 1em 1em 1em 0;
  }
}

.content {
  width: 863px;
  padding: 0 15px 15px 15px;
  margin: 0 auto 3em auto;
  background-color: #112d4e;
  color: whitesmoke;
  text-align: center;
}
.content p {
  padding: 1em 1em 1em 0;
  font-size: 1.1em;
}
.content a {
  text-decoration: none;
  color: lightskyblue;
}
.content a :hover {
  text-decoration: underline;
}
@media screen and (min-width: 750px) {
  .content {
    width: 1170px;
  }
}
