/* Error: expected "}".
 *     ,
 * 100 | @import "../variables.scss";  
 *     |                               ^
 *     '
 *   src/styles/booking.scss 100:31  @import
 *   src/main.scss 18:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 100 \2502  @import "../variables.scss";  \d\a     \2502                                ^\a     \2575 \a   src/styles/booking.scss 100:31  @import\a   src/main.scss 18:9              root stylesheet';
}
