<a class="our-movies" href="/">Till startsidan</a>
<article class="movie-title">
  <h1>{{movie.attributes.title}}</h1>
  <h1 class="movie-intro">{{movie.attributes.intro}}</h1>
  {{#if movie.attributes.image}}
    <img class="movie-poster" src="{{movie.attributes.image.url}}" alt="" />
  {{/if}}
</article>