<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/main.css" />
    <title>LuleNorthernLightsCinema</title>
</head>

<body>
    <header class="header">
        <div class="top-header">
            <a href="/">
                <img class="logotype" src="../static/logo-cinema.png" alt="logotype for the cinema" /></a>
            <h1>Lule Northern Lights Cinema</h1>
            <img onclick="hamburger()" id="hamburger-icon" src="../static/hamburger-icon.svg" alt="hamburger-icon" />
        </div>
        <nav>
            <ul class="main-nav">
                <a href="/opening-hours">
                    <li>Öppetider & Kontakt</li>
                </a>
                <a href="/about">
                    <li>Om våran biograf</li>
                </a>
                <a href="/ticket-info">
                    <li>Biljettinfo</li>
                </a>
                <a href="/newsletter">
                    <li>Nyheter</li>
                </a>
                <a href="/gift-card">
                    <li>Köp presentkort</li>
                </a>
                <section>
                    <a href="#">
                        <img class="social-media-links" src="../static/facebook.svg" alt="facebook icon" /></a>
                    <a href="#">
                        <img class="social-media-links" src="../static/instagram.svg" alt="instagram icon" /></a>
                    <a href="#">
                        <img class="social-media-links" src="../static/twitter.svg" alt="twitter icon" /></a>
                    <a href="#">
                        <img class="social-media-links" src="../static/mail.svg" alt="mail icon" /></a>
                </section>
            </ul>
        </nav>
    </header>

    <!-- Lägg in href-länkar för secNav i följande .js-fil:
        js/secNav/anchors.js -->
    <nav class="secNav">
        <menu class="secNav-menu">
            <li class="secNav-menu-item">
                <button class="dropBtn" id="rep">Repertoar</button>
                <div class="secNav-dropdown" id="rep-dropdown"></div>
            </li>

            <li class="secNav-menu-item">
                <button class="dropBtn" id="sal">Salonger</button>
                <div class="secNav-dropdown" id="sal-dropdown"></div>
            </li>

            <li class="secNav-menu-item">
                <button class="dropBtn" id="spec">Specialvisningar</button>
                <div class="secNav-dropdown" id="spec-dropdown"></div>
            </li>

            <li class="secNav-menu-item">
                <button class="dropBtn" id="live">Live på bio</button>
                <div class="secNav-dropdown" id="live-dropdown"></div>
            </li>

            <li class="secNav-menu-item">
                <button class="dropBtn" id="barBist">Bar & Bistro</button>
                <div class="secNav-dropdown" id="barBist-dropdown"></div>
            </li>
        </menu>
    </nav>

    <main>
        <section name="frequently-asked">
            <h1 class="main-title">BILJETTINFO</h1>
            <small>Biljetter kan köpas både online och på plats</small>

            <h2 class="questions-h2">FRÅGOR OCH SVAR</h2>

            <h3 class="question-title">HUR KÖPER JAG BILJETTER PÅ HEMSIDAN?</h3>
            <p class="answer">
                Du kan antingen betala med ditt betalkort eller presentkort på hemsidan, men du kan endast använda ett betalsätt per köp. Köper du din biljett via hemsidan får du en bokningsbekräftelse via mejl. Vi har endast direktköp på våra biljetter.
            </p>

            <h3 class="question-title">
                VARFÖR HAR JAG INTE FÅTT EN BOKNINGSBEKRÄFTELSE?
            </h3>
            <p class="answer">
                Ibland hamnar bekräftelsemailet i mottagarens skräppost. Om du märker att du inte får någon bokningsbekräftelse på dina köp, kan du godkänna vår mejladress som vi skickar bekräftelsen ifrån via din mejl.
            </p>

            <h3 class="question-title">
                VARFÖR FUNGERAR DET INTE ATT KÖPA BILJETTER PÅ HEMSIDAN?
            </h3>
            <p class="answer">
                Vi har märkt att det kan vara problem att köpa biljetter med webbläsaren Explorer. Andra webbläsare ska fungera fint. Har du ett Nordea-kort kan du behöva kontakta din bank för att låsa upp ditt kort för internetköp.
            </p>

            <h3 class="question-title">ÅTERKÖP OCH BYTEN</h3>
            <p class="answer">
                Biljetter till ordinarie repertoarfilm: Det går bra att göra återköp eller byta biljetterna till en annan visning eller en annan repetoarfilm senast 24 timmar innan filmen börjar. Återköp och byten av repertoarbiljetter görs endast på biografen. Live
                på bio: Vi har inga återköp på Live på bio-biljetter, men du kan byta till annan föreställning inom respektive genre med samma biljettpris: Met-opera kan till exempel bytas till annan Met-opera. Saknas det visningar inom genren går det
                inte att byta. Bytet görs endast på biografen senast 72 timmar innan visningen börjar. Specialvisningar: Vi har inga återköp på biljetter till specialvisningar, men det går bra att byta biljetten till en annan specialvisning inom respektivie
                genre med samma biljettpris: Frukostbio kan till exempel bytas till en annan frukostbio. Saknas det visningar inom genren går det inte att byta. Bytet görs endast på biografen 72 timmar innan filmen börjar.
            </p>

            <img src="../static/faq.jpeg" alt="" />
        </section>

        <section name="additional-info">
            <h2 class="asked-title">BILJETT MED MAT OCH DRYCK</h2>
            <p class="answer">
                Du kan beställa från vår meny i samband med ditt biljettköp via hemsidan eller på biografen. Vid förköp serveras maten inför filmstart, men du kan även enkelt beställa mat och dryck under filmen. Alla våra tre salonger är serverade och har en bar som
                bemannas kontinuerligt, vilket betyder att du får avnjuta god mat och dryck tillsammans med din film!
            </p>

            <h2 class="asked-title">ÅTERKÖP OCH BYTEN</h2>
            <p class="answer">
                Biljetter till ordinarie repertoarfilm: Det går bra att göra återköp eller byta biljetterna till en annan visning eller en annan repetoarfilm senast 24 timmar innan filmen börjar. Återköp och byten av repertoarbiljetter görs endast på biografen. Live
                på bio: Vi har inga återköp på Live på bio-biljetter, men du kan byta till annan föreställning inom respektive genre med samma biljettpris: Met-opera kan till exempel bytas till annan Met-opera. Saknas det visningar inom genren går det
                inte att byta. Bytet görs endast på biografen senast 72 timmar innan visningen börjar. Specialvisningar: Vi har inga återköp på biljetter till specialvisningar, men det går bra att byta biljetten till en annan specialvisning inom respektivie
                genre med samma biljettpris: Frukostbio kan till exempel bytas till en annan frukostbio. Saknas det visningar inom genren går det inte att byta. Bytet görs endast på biografen 72 timmar innan filmen börjar.
            </p>
            <img src="../static/cinemafood.jpg" alt="" />
        </section>
    </main>

    <footer class="footer">
        <div class="footer-sections">
            <h3>Lule Northern Lights Cinema</h3>
            <p>biografgatan 97</p>
            <p>97231 Luleå</p>
        </div>
        <div class="footer-sections">
            <h3>Kontakta oss</h3>
            <a href="#">
                <img class="social-media-links" src="../static/facebook.svg" alt="facebook icon" /></a>
            <a href="#">
                <img class="social-media-links" src="../static/instagram.svg" alt="instagram icon" /></a>
            <a href="#">
                <img class="social-media-links" src="../static/twitter.svg" alt="twitter icon" /></a>
            <a href="mailto:">
                <img class="social-media-links" src="../static/mail.svg" alt="mail icon" /></a>
            <p>Telefon: 010-7308579</p>
        </div>
        <div class="footer-sections">
            <h3>Samarbete med</h3>
            <img id="municipality-logo" src="../static/kommun-logo.svg" alt="municipality for our city" />
            <img id="cinema-collab" src="../static/europa-cinemas.png" alt="cinema collab" />
        </div>
    </footer>
    <script src="../js/script.js"></script>
    <script src="../js/secNav/secNav.js" type="module"></script>
</body>

</html>